@charset "UTF-8";
#all{
    margin: 0 auto;
    width: 1536px;
}

body{
    margin: 0;
}

.top{
	width: 100%;
    background-color: skyblue;
    height: 85px;
    text-align: center;
}

.top span{
	font-size: 30px;
    color: white;
    line-height: 85px;
}

.body_title{
	margin:0 1% 0 1%;
	width: 92%;
    padding: 0 2% 0 2%;
    font-size: 21px;
    height: 45px;
    line-height: 45px;
    border-bottom: 2px solid lightskyblue;
}

.body_content{
	border-bottom: 2px solid skyblue;
    border-top: 2px solid skyblue;
    width: 93%;
    margin: 1% 4% 1% 3%;
    padding:1% 0 1% 0;
}

.body_content span{
	font-size: 18px;
    color: darkgray;
}

.questionnaire_name{
	height: 32px;
    font-size: 17px;
    line-height: 32px;
    margin-left: 1%;
    border-bottom: 1px solid silver;
}

a{ 
    text-decoration:none; 
    color:#333; 
} 

.button{
	width: 90px;
    height: 40px;
    background-color: skyblue;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    font-size: 17px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    line-height: 40px;
}

.button_block{
	margin-left: 85%;
}
